* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
    margin-top: 25px;
    padding: 10px 10px;
	cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
}
button:hover {
    background-color: var(--buttonhover);
}

.bold {
	font-weight: bold;
}

i {
    margin-right: 5px;
}

.hidden {
    visibility: hidden;
}

/*----LIGHT MODE----*/
body {
    --background: white;
    --border: #ccc;
    --primary: black;
    --secondary: aliceblue;
    --buttonhover: rgb(224, 240, 255);
    --checked: grey;
    background-color: var(--background);
    color: var(--primary);
    text-decoration-color: var(--primary);
}

/*----DARK MODE----*/
body.dark-mode {
    --background: rgb(20, 20, 20);
    --border: #444;
    --primary: whitesmoke;
    --secondary: rgb(45, 45, 45);
    --buttonhover: rgb(60, 60, 60);
    --checked: #999;
}

/*-----------------------------------*/

.header {
    padding: 25px;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
}
.logo{
    align-self: center;
}

.content {
    display: flex;
    min-height: auto;
    height: calc(100vh - 87px);
    font-family: Helvetica, sans-serif;
}

.sidebar {
    max-width: 300px;
    border-right: 1px solid var(--border);
    padding: 25px;
    transition: .5s;
}
.sidebar > h3 {
    margin-bottom: 25px;
}
.sidebar.collapsed {
    transform: translateX(-100%);
    transition: .5s;
}
.sidebar.visable {
    content-visibility: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    transition: width .5s;
}

/*--------- MAIN -------*/

.main > .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.page-id {
    display: none;
}

.emoji {
    font-size: 3em;
    border-radius: 2px;
}
.emoji:hover {
    cursor: pointer;
    background-color: var(--secondary);
}
emoji-picker {
    position: absolute;
    transform: translateX(-50px);
    border-radius: 2px;
}

.title {
    margin: 25px 0 25px 0;
    border-radius: 2px;
}
.title:hover {
    background-color: var(--secondary);
}

.tasklist {
    
}

.task {
    display: flex;
    padding: 7px 0;
    border-radius: 2px;
}
.task:hover {
    background-color: var(--secondary);
}
.task > input:hover, i:hover, .task-date:hover{
    cursor: pointer;
}
.task-title {
    width: 100%;
    margin-left: 10px;
}
.task-title.checked {
    text-decoration: line-through;
    color: var(--checked);
}
.task-title:hover {
    cursor: text;
}
span.task-date {
    margin: 0 15px;
    color: cornflowerblue;
    white-space: nowrap;
}
.edit-menu {
    background-color: var(--background);
    list-style-type: none;
    border: 1px solid var(--border);
    position: absolute;
    z-index: 2;
    border-radius: 5px;
}
.edit-menu > li {
    padding: 7px;
}
.edit-menu > li:hover {
    cursor: pointer;
    background-color: var(--secondary);
}
.edit-menu > li > i {
    pointer-events: none;
}   

/*--------- SIDEBAR -------*/

.page {
    display: flex;
    padding: 7px 0;
    border-radius: 2px;
}
.page:hover {
    background-color: var(--secondary);
    cursor: pointer;
}
.page > span:nth-child(2) {
    width: 100%;
    margin: 0 15px 0 5px;
    align-self: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.page > span:nth-child(3) {
    align-self: center;
}

/*--------- SLIDER ----------*/
.fa-moon {
    position: absolute;
    z-index: 1;
    transform: translate(2.25em, .45em);
    pointer-events: none;
}
.fa-sun {
    position: absolute;
    z-index: 1;
    transform: translate(.4em, .45em);
    pointer-events: none;
}

input[type="checkbox"].switch {
    font-size: 30px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 2em;
    height: 1em;
    background: var(--buttonhover);
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
    
input[type="checkbox"].switch:checked {
    background: var(--buttonhover);
}
    
input[type="checkbox"].switch:after {
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 2;
}
    
input[type="checkbox"].switch:checked:after {
    left: calc(100% - 1em);
}

/* ------- MENU BUTTON ---------*/
.fa-bars {
    font-size: 1.75em;
    align-self: center;
}

/* -------- CALENDER -----------*/
.flatpickr-calendar {
 font-family: Helvetica, sans-serif;
}